

<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            body {background-color: beige;}
        </style>
    </head>

    <body>

      <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

          <br>



    <nav class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="details.html">Home</a></li>
        <li><a href="About.html">Aboutus</a></li>
      <li><a class="dropdown-trigger" href="careerareas.html" data-target="dropdown1">careerareass<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="jobs.html">searchjobs</a></li>
      </ul>


  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="details.html">Home</a></li>
    <li><a href="About.html">Aboutus</a></li>
    <li><a href="careerareas.html">careerareas</a></li>
     <li><a href="jobs.html">searchjobs</a></li>
  </ul>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="careerareas.html">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

          <div class="container">
        <h5>Job description:</h5>
        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolorum, harum in iusto minima minus necessitatibus neque nihil porro quasi reiciendis repudiandae voluptatibus. Adipisci dolorem ipsa soluta totam ullam.
        </h6>
        <h5>Job Qualification:</h5>
        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor dolorum, harum in iusto minima minus necessitatibus neque nihil porro quasi reiciendis repudiandae voluptatibus. Adipisci dolorem ipsa soluta totam ullam.
        </h6><br>
        <a class="waves-effect waves-light btn center-align" href="Application.html">Apply Now!</a>

        </div>




    </body>
  </html>


