
<!DOCTYPE html>
<html lang="en">
<head>
<script>
var disqus_developer = 1; 
</script>
<script>

					/**
					*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
					*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
					/*
					var disqus_config = function () {
					this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
					this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					};
					*/

          var disqus_config = function () {
        this.page.url = 'http://72758050.ngrok.io/';

        this.page.title = 'Document';
    };
					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://groupj.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();


						
					</script>

					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/penna" type="text/css"/>

</head>
<body>
    <div class="container">

								    
        <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo">Adit Bio-Sciences</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="a">Product</a></li>
                <li><a href="b">Careers</a></li>
                <li><a href="c">Contact Us</a></li>
                <li><a href="d">About Us</a></li>
                <li><a href="e">News</a></li>
                <li><a href="f">Farmer Education</a></li>
              </ul>
            </div>
          </nav>
    </div>

    <div class="slider container" >
            <ul class="slides">
              <li>
                <img src="/static/1.jpeg"> 
                <div class="caption center-align">
                  <h3>This is our big Tagline!</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="/static/2.jpeg"> 
                <div class="caption left-align">
                  <h3>Left Aligned Caption</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="/static/3.jpeg"> 
                <div class="caption right-align">
                  <h3>Right Aligned Caption</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
              <li>
                <img src="/static/4.jpg"> 
                <div class="caption center-align">
                  <h3>This is our big Tagline!</h3>
                  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
              </li>
            </ul>

            <footer class="page-footer">
                    <div class="container">
                      <div class="row">
                        <div class="col l6 s12">
                          <h5 class="white-text">Footer Content</h5>
                          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                          <h5 class="white-text">Links</h5>
                          <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Oue Distributors</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Business</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Investors</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">News Room</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Sitemap</a></li>
                            <Row>
                                <a href="#">   <img src="/static/2.png"></a>
                                <a href="#">  <img src="/static/0.png"></a>
                                <a href="#">  <img src="/static/9.png"></a>
                            </Row>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="footer-copyright">
                      <div class="container">
                      © 2018 Adit Bio Sciences
                      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                      </div>
                    </div>
                  </footer>
		<div id="disqus_thread"></div>
					
					
          </div>
<script>
    $(document).ready(function(){
      $('.slider').slider();
      $('.slider').slider('start');
    });
</script>

<script id="dsq-count-scr" src="//groupj.disqus.com/count.js" async></script>
</body>
</html>